# Abass Olaiya Presenting
## Abass Olaiya Presenting
### Abass Olaiya Presenting
#### Abass Olaiya Presenting
##### Abass Olaiya Presenting
###### Abass Olaiya Presenting

 Abass Olaiya Presenting

# Python Crash Course



This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if,elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4

16

In [7]:
10 % 4

2

In [8]:
5 % 2

1

BODMAS (Bracket Of Division Multiplication Addition Subtraction)

In [9]:
2 - 3 * 5 + 5

-8

In [10]:
(2 - 3) * (5 + 5)

-10

### Variable Assignment

In [11]:
# Can not start with number or special characters
name_of_var = 2  #snake_casing
nameOfVar = 3    #camelCasing

In [12]:
name_of_var

2

In [13]:
nameOfVar

3

In [14]:
x = 2
y = 3

In [15]:
z = x + y

In [16]:
z

5

### Strings

In [17]:
'single quotes'

'single quotes'

In [18]:
"double quotes"

'double quotes'

In [19]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

In [20]:
'wrap lot\'s of other quotes'

"wrap lot's of other quotes"

In [21]:
'Olaiya said "we should submit our assignment tomorrow"'

'Olaiya said "we should submit our assignment tomorrow"'

### Printing

In [22]:
x = 'hello'

In [23]:
x

'hello'

In [24]:
print(x)

hello

In [29]:
num = 12
name = 'Sam'
str(num)

'12'

In [30]:
num

12

In [35]:
'abass ' + 'Olaiya'

'abass Olaiya'

In [33]:
'My number is: ' + str(num) + ', and my name is: ' + str(name)

'My number is: 12, and my name is: Sam'

In [36]:
'My number is: {x}, and my name is: {y}'.format(x=num,y=name)

'My number is: 12, and my name is: Sam'

In [39]:
print('My number is: {}, and my name is: {}'.format(num, name))

My number is: 12, and my name is: Sam

### Lists

In [40]:
[1,2,3]

[1, 2, 3]

In [41]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [42]:
my_list = ['a','b','c']

In [43]:
my_list.append('d')

In [44]:
my_list

['a', 'b', 'c', 'd']

In [45]:
my_list[0]

'a'

In [46]:
my_list[1]

'b'

In [48]:
my_list[1:]

['b', 'c', 'd']

In [49]:
my_list[:3]

['a', 'b', 'c']

In [50]:
my_list[0] = 'NEW'

In [51]:
my_list

['NEW', 'b', 'c', 'd']

In [52]:
nest = [1,2,3,[4,5,['target',2]]]

In [53]:
nest[3]

[4, 5, ['target', 2]]

In [54]:
nest[3][2]

['target', 2]

In [55]:
nest[3][2][0]

'target'

In [58]:
nest[3][2][1]

2

In [59]:
nest[3][1]

5

In [60]:
type(nest)

list

### Dictionaries

In [61]:
d = {'key1':'item1','key2':'item2', 'grace': 'Jennifer'}

In [62]:
d

{'key1': 'item1', 'key2': 'item2', 'grace': 'Jennifer'}

In [63]:
d['grace']

'Jennifer'

In [65]:
type(d)

dict

In [66]:
d['key1']

'item1'

### Booleans

In [67]:
True

True

In [68]:
False

False

In [69]:
type(True)

bool

### Tuples

In [70]:
t = (1,2,3)

In [72]:
t[2] = 5

TypeError: 'tuple' object does not support item assignment

In [73]:
b = (9, 3, 6, 8, [4,6,9,2])

In [74]:
b

(9, 3, 6, 8, [4, 6, 9, 2])

In [78]:
b[4]

[4, 6, 9, 2]

In [79]:
b[4][1]='Eunice'

In [80]:
b

(9, 3, 6, 8, [4, 'Eunice', 9, 2])

In [81]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [82]:
{1,2,3}

{1, 2, 3}

In [83]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2,4}

{1, 2, 3, 4}

## Comparison Operators

In [84]:
1 > 2

False

In [85]:
1 < 2

True

In [86]:
1 >= 1

True

In [87]:
1 <= 4

True

In [88]:
1 == 1

True

In [89]:
'hi' == 'bye'

False

In [90]:
2+3 < 8-5

False

## Logic Operators
-----
True or True = True

True or False = True

False or True = True

False or False = False
________

True and True = True

True and False = False

False and True = False

False and False = False

In [91]:
(1 > 2) and (2 < 3)

False

In [92]:
(1 > 2) or (2 < 3)

True

In [93]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [98]:
if 1 < 2:
    print('Yep!')

Yep!

In [99]:
if 3 < 2:
    print('yep!')

In [100]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [101]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [102]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

In [105]:
x=12
if x>19:
    print('Adult')
elif x>12:
    print('Teenager')
else:
    print('child')

child


a loop is a sequence of instructions that is continually repeated until a certain condition is reached
## for Loops
for loop Executes a sequence of statements multiple times and abbreviates the code that manages the loop variable.

In [106]:
seq = [1,2,3,4,5]

In [107]:
for book in seq:
    print(book**2)

1
4
9
16
25

In [110]:
x = list(range(10))
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [112]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [113]:
list(range(2,10,2))

[2, 4, 6, 8]

In [114]:
list(range(1,20,3))

[1, 4, 7, 10, 13, 16, 19]

In [115]:
for item in range(2,10,2):
    print(item)

2
4
6
8

In [116]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

In [117]:
seq = [1,2,3,4,5]
for i in seq:
    print(i*i)

1
4
9
16
25

In [118]:
seq = [1,2,3,4,5]
for i in seq:
    print(i*3)

3
6
9
12
15

## while Loops
while loop Repeats a statement or group of statements while a given condition is TRUE. It tests the condition before executing the loop body.

In [121]:
i = 1
while i <= 10:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4
i is: 5
i is: 6
i is: 7
i is: 8
i is: 9
i is: 10

In [122]:
i = 1
while i < 5:
    print('i is: ' + str(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [123]:
range(5,10)

range(5, 10)

In [124]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [125]:
list(range(5))

[0, 1, 2, 3, 4]

##### list(range(5))

## list comprehension

In [130]:
x = [1,2,3,4]
seq = [1,2,3,4,5]

In [127]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [128]:
were = [item**2 for item in x]
were

[1, 4, 9, 16]

In [134]:
were = [x**4 for x in seq]
were

[1, 16, 81, 256, 625]

In [135]:
out = [ item**12 for item in seq]
out

[1, 4096, 531441, 16777216, 244140625]

## functions

In [136]:
def my_func(param1='default'):
    print(param1)

In [137]:
my_func

In [138]:
my_func()

default

In [139]:
my_func('new param')

new param

In [140]:
my_func(param1=3)

3

In [141]:
def square(x):
    return x**2

In [142]:
out = square

In [143]:
print(out)

<function square at 0x0000025C52A0AB80>

In [144]:
square(3)

9

In [147]:
square()

TypeError: square() missing 1 required positional argument: 'x'

In [148]:
def even(x,y):
    for i in range(x,y):
        if i%2==0:
            print("{} is an even number".format(i))
        else:
            print('{} is not an even number'.format(i))

In [149]:
x = int(input('enter your first number '))
y = int(input('enter your last number '))
even(x,y)

enter your first number 2
enter your last number 9
2 is an even number
3 is not an even number
4 is an even number
5 is not an even number
6 is an even number
7 is not an even number
8 is an even number

## lambda expressions

In [150]:
def times2(var):
    return var*2

In [151]:
times2(3)

6

In [152]:
lambda var: var*2

In [153]:
seq=[1,2,3,4,5]

In [154]:
tuple(map(lambda var: var*2,seq))

(2, 4, 6, 8, 10)

In [155]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [156]:
lambda var: var*2,seq

(<function __main__.<lambda>(var)>, [1, 2, 3, 4, 5])

## map and filter

In [157]:
seq = [1,2,3,4,5]

In [158]:
map(times2,seq)

In [159]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [160]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [161]:
filter(lambda item: item%2 == 1,seq)

In [162]:
list(filter(lambda item: item%2 == 1,seq))

[1, 3, 5]

## methods

In [163]:
st = 'hello my name is Sam'

In [164]:
st.lower()

'hello my name is sam'

In [165]:
st.upper()

'HELLO MY NAME IS SAM'

In [166]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [167]:
tweet = 'Go Sports! #Sports'

In [168]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [169]:
tweet.split('#')[1]

'Sports'

In [170]:
d

{'key1': 'item1', 'key2': 'item2', 'grace': 'Jennifer'}

In [171]:
d.keys()

dict_keys(['key1', 'key2', 'grace'])

In [172]:
d.values()

dict_values(['item1', 'item2', 'Jennifer'])

In [173]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2'), ('grace', 'Jennifer')])

In [174]:
lst = [1,2,3]

In [175]:
lst.pop()

3

In [176]:
lst

[1, 2]

In [177]:
'x' in [1,2,3]

False

In [ ]:
'x' in ['x','y','z']

# Great Job!